body{
    background-color: rgb(215, 215, 215);
    width: 100%;
    height: 100vh;
}

header{
    width: 100%;
    height: 20vh;
    background-color: rgb(66, 71, 71);
}

main{
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    height: 90vh;
    width: 70vw;
}

footer{
    height: 10vh;
    width: 70vw;
    background-color: black;
    margin: 0 auto;
}

